@font-face {
    font-family: "futura-now-text-rg";
    src: url("./fonts/futura-now-text-rg.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "futura-now-text-rg";
    margin: 0;
    padding: 0;
}

header {
    background-color: #4B6382;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 65px;
    align-items: center;    
}

header .options {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

footer {
    background-color: black;
}

/* page initial */

.initial {
    gap: 10px;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: center;
    background: url("./assets/sasun-bughdaryan-ozS0tPf8QT0-unsplash.jpg") no-repeat center/cover;
}

.title-first {
    padding: 5px 65px;
    color: white;
    font-size: 40px;
    margin: 0;
}

.btn-contato {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #A68868;
    width: 200px;
    margin-left: 65px;
    border-radius: 1000px;
}

#quem-somos{
   padding: 10px 65px;
   font-size: 20px;
}

.line{
    color: #4B6382;
    width: 100px;
}

.title-quemsomos{
    color: #4B6382;
    margin-bottom: 0;
    font-size: 25px;
}

.img-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.line-page {
    padding: 10px 65px;
    color: #4B6382;
}

#atuacao {
    padding: 10px 65px;
}

.container-all{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 10px 65px;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 25px;
    height: 400px;
    width: 300px;
    border:  1px solid #4B6382;
    border-radius: 20px;
    justify-content: center;
}

.title-h2 {
    margin: 0;
    color: #4B6382;
    font-size: 20px;
}

.text {
    font-size: 15px;
}