@font-face {
    font-family: "futura-now-text-rg";
    src: url("./fonts/futura-now-text-rg.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    font-family: "futura-now-text-rg";
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* header */

header {
    background-color: #4B6382;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 65px;
    align-items: center;    
}

header .options {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

/* footer */

footer {
    background-color: #A68868;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 65px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}

.line-footer {
    width: 100%;
}

.infos p {
    color: white;
    margin: 0;
    font-size: 10px;
}

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social a {
    text-decoration: none;
}

.maps {
    display: flex;
    align-items: center; 
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
}

/* page initial */

.initial {
    gap: 10px;
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: center;
    background: url("./assets/sasun-bughdaryan-ozS0tPf8QT0-unsplash.jpg") no-repeat center/cover;
}

.title-first {
    padding: 5px 65px;
    color: white;
    font-size: 40px;
    margin: 0;
}

.btn-contato {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #A68868;
    width: 200px;
    margin-left: 65px;
    border-radius: 1000px;
}

#quem-somos{
   padding: 10px 65px;
   font-size: 20px;
}

.line{
    color: #4B6382;
    width: 100px;
}

.title-quemsomos{
    color: #4B6382;
    margin-bottom: 0;
    font-size: 25px;
}

.img-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.line-page {
    padding: 10px 65px;
    color: #4B6382;
}

#atuacao {
    padding: 10px 65px;
}

.container-all{
    display: flex;
    margin-bottom: 60px;
    flex-direction: row;
    gap: 50px;
    padding: 10px 65px;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 25px;
    height: 400px;
    width: 300px;
    border:  1px solid #4B6382;
    border-radius: 20px;
    justify-content: center;
}

.title-h2 {
    margin: 0;
    color: #4B6382;
    font-size: 20px;
}

.text {
    font-size: 15px;
}

/* contact page */

.container-page {
    display: flex;
    flex-direction: column;
     min-height: 80vh;
    min-height: 100vh;
}

.hero {
    flex: 1;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 65vh; 
}

.chanels {
    padding: 5px 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.whatsapp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #4B6382;
    width: 120px;
    height: 125px;
    border-radius: 15px;
    text-decoration: none;
}

.title-contact {
    color: #4B6382;
    margin: 5px;
    font-size: 20px;
    
}

.email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #4B6382;
    width: 120px;
    height: 125px;
    border-radius: 15px;
    text-decoration: none;
}

.description{
    font-size: 18px;
}